@model GetStocksViewModelResponse

@{
	ViewData["Title"] = "Stocks";
	var profit = Model.Stocks.Sum(x => x.Profit);
	<h1>Profit: @profit</h1>
}
<table class="table">
	<thead>
		<tr>
			<th><b>Symbol</b></th>
			<th><b>Name</b></th>
			<th><b>Price</b></th>
			<th><b>Owned</b></th>
			<th><b>Buy</b></th>
			<th><b>Sell</b></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var stock in Model.Stocks)
		{
			<tr>
				<td>
					<a href="stocks/@(stock.Symbol)">
						@Html.DisplayFor(modelItem => stock.Symbol)
					</a>
				</td>
				<td>@Html.DisplayFor(modelItem => stock.Name)</td>
				<td>@Html.DisplayFor(modelItem => stock.Price)</td>
				<td>@Html.DisplayFor(modelItem => stock.OwnedAmount)</td>
				<td><a href="offers/@(stock.Symbol)/buy">BUY</a></td>
				<td><a href="offers/@(stock.Symbol)/sell">SELL</a></td>
			</tr>
		}
	</tbody>
</table>

@{
	var offers = Model.Stocks.SelectMany(x => x.Offers);
	@await Html.PartialAsync("Offers", offers);
}
