@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@model StockViewModel

@{
	ViewData["Title"] = "Stock";
}

<h1>@Html.DisplayFor(modelItem => Model.Symbol)</h1>
<h2>@Html.DisplayFor(modelItem => Model.Name)</h2>
<h4>Price: @Html.DisplayFor(modelItem => Model.Price)</h4>
<h4>Owned: @Html.DisplayFor(modelItem => Model.OwnedAmount)</h4>
<h4>Profit: @Html.DisplayFor(modelItem => Model.Profit)</h4>
<a href="../offers/@(Model.Symbol)/buy">BUY</a>
<br/>
<a href="../offers/@(Model.Symbol)/sell">SELL</a>

@await Html.PartialAsync("Prices", Model.Prices)
@await Html.PartialAsync("Offers", Model.Offers)
@{
	var id = userManager.GetUserId(User);
	var transactions = Model.Transactions.Select(x => 
		new TransactionViewModel(x, Guid.Parse(id)));
	@await Html.PartialAsync("Transactions", transactions)
}
